spring:
  datasource:
    url: jdbc:mysql://localhost:3306/qms?useUnicode=true&characterEncoding=utf8&connectionCollation=utf8mb4_general_ci&allowPublicKeyRetrieval=true&serverTimezone=Asia/Bangkok&createDatabaseIfNotExist=true&sessionVariables=time_zone='%2B07:00'
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USER:root}
    password: ${DB_PASS:123.com}
  sql:
    init:
      mode: never
      encoding: UTF-8
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
qms:
  jwt:
    secret: "qms-secret-key-must-be-very-long-and-secure-at-least-256-bits-for-hs256"
    issuer: "qms-system"
    expire-minutes: 480
server:
  error:
    include-message: always
    include-binding-errors: always
    include-exception: true
    include-stacktrace: always
